apiVersion: v1
kind: LimitRange
metadata:
  name: project2-limitrange
  namespace: project-2
spec:
  limits:
  - max:
      cpu: "2"
      memory: 2Gi
    min:
      cpu: 100m
      memory: 128Mi
    default:
      cpu: 500m
      memory: 512Mi
    defaultRequest:
      cpu: 200m
      memory: 256Mi
    type: Container
  - max:
      cpu: "4"
      memory: 4Gi
    min:
      cpu: 100m
      memory: 128Mi
    type: Pod
