apiVersion: v1
kind: ResourceQuota
metadata:
  name: project2-quota
  namespace: project-2
spec:
  hard:
    requests.cpu: "4"
    requests.memory: 8Gi
    limits.cpu: "8"
    limits.memory: 16Gi
    persistentvolumeclaims: "5"
    pods: "10"
